<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canoe.eb.account.mapper.AccountMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into account(account,password,role) values(#{account},#{password},#{role});
    </insert>

    <select id="find" resultType="com.canoe.eb.account.bean.entity.Account">
        select * from account where 1 = 1 and
        <if test="id != null">
            id = #{id}
        </if>
        <if test="account != null and account != ''">
            account = #{account}
        </if>
    </select>
</mapper>